/* Layout */

/* Navbar */
/* #navbarNav  {
    font-size: 1.2em;
    padding: 15px;
    margin-left: 50%;
    float: right;
}  */

.brand-spacing {
  padding-left: 8rem;
}

.navbar-nav {
  margin-right: 2rem;
  font-size: 1.5em;
}

.first-nav-item {
  margin-left: 75rem;
}
.text {
    padding: 0.5em 0.2em 0.5em 0.2em;
}

.social {
    padding-bottom: 0.2em;
}

/* Content Padding */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
}

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-grow: 1;
}

  /* General */
  .content-section {
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  
  /* Forms */
  .form-control-label {
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .invalid-feedback {
    color: red;
  }
  
  .btn-outline-info {
    margin-top: 1rem;
  }
  
/* Index */
.container-fluid, .index-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 2em;
} 

.col-md-9 {
    grid-column: 1 / 2;
}

.col-md-3 {
    grid-column: 2 / 3;
}

.go-to-map {
  margin-left: 150px;
  margin-top: 100px;
  width: 750px;
}

.btn-map {
  margin: 1rem 0 0 0.3rem;
  width: 10rem;
}

/* Register */
.register-background {
    background-color: #c4c1e0;
    width: 20%;
}

.register-form, .login-form {
    width: 60%;
}


/* Login */
.login-background {
  background-color: #a7bcb9;
}

/* GOOGLE  MAPS */

#map {
  width: 100%;
  height: 60vh;
}

.map-heading {
  margin: 0 0 3rem 40rem;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

#search-input,
#itemsForTradeSearch,
#itemsWantedSearch {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.search-btn {
  padding: 8px 12px;
  background-color: #53a8b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.search-btn:hover {
  background-color: #429294;
}


/*  Profile and Update Profile*/

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.form-container {
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}


/* Profile */
.profile-picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.user-section {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
  padding-bottom: 2rem;
}
.user-section-left {
  flex-basis: 38%;
  padding-left: 2rem;
}

.user-section-right {
flex-basis: 55%;
padding-right: 2rem;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  m
}

.btn-custom {
  background-color: #007cb9 !important;
}

.left-button {
  margin-left: 50px;
}

.right-button {
  margin-right: 50px;
}

.item-section {
display: flex;
justify-content: space-around;
margin-top: 2rem;
}

.item-container {
background-color: #ffffff;
border: 1px solid #e0e0e0;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
padding: 1rem;
width: 500px;
height: 450px;
}

.item-container h3 {
margin-bottom: 1rem;
text-align: center;
}


/* UPDATE PROFILE*/

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.form-group textarea {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 150px;
}
/* DRAG N DROP */

.items-wanted-container,
.items-for-trade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.top-row > div,
.bottom-row > div {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper,
.description-field {
  margin-bottom: 20px; 
}

.container .top-row .box,
.container .top-row .description-field {
  border-radius: 5px;
  font-size: 30px;
  height: 280px;
  width: 450px;
  margin-left: 60px;
  margin-right: 60px;
}


.items-for-trade,
.items-wanted {
  border-radius: 5px;
  font-size: 30px;
  height: 300px;
  width: 450px; 
}

.box {
  background-color: #444;
  color: #fff;
  padding: 20px;
}

.description-field {
  background-color: #e3e3e3;
  padding: 20px;
  text-align: center;
  padding-top: 2rem;
}

.items-for-trade {
  background-color: #455d7a;
  color: #fff;
  padding: 20px;
}

.item-for-trade-description {
  background-color: #455d7a;
  color: #fff;
  width: 450px;
}

.item-wanted-description {
  background-color: #53a8b6;
  color: #fff;
  width: 450px;
}

.text-field {
  width: 400px;

  margin-left: 20px;
}

.custom-input-size {
  font-size: 20px !important;
}

.custom-output-size {
  font-size: 20px !important;
} 

.items-wanted {
  background-color: #53a8b6;
  color: #fff;
  padding: 20px;
}

.items-wanted h3, .items-for-trade h3 {
  font-size: 1.8rem;
  padding: 10px;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.delete-scrap-btn {
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.delete-scrap-btn:before,
.delete-scrap-btn:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-scrap-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.delete-scrap-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.items-text {
  display: none;
}
/*MEDIA SCREEN*/

/* Mobile Phone */
@media screen and (orientation: portrait) {
    .index-top {
      display: flex;
      flex-direction: column;
    }
    #register-content {
        width: 100%;
        align-items: center;
    }
    .main-heading {
        font-size: 1.5em;
    }
    .main-text {
        font-size: 0.8em;
    }
    .img-start {
      height: 25vh;
      width: 100%;
    }
  }
  

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container-fluid {
        align-items: center;
      }
    .col-md-9 {
    width: 50%;
    }
    .col-md-3 {
    width: 50%;
    }
    .main-heading {
        font-size: 1.5em;
    }
    .main-text {
        font-size: 0.8em;
    }
    .img-start {
        width: auto;
        height: 40vh;
    }
}


/* Desktop */
@media screen and (min-width: 1024px) {
    .container-fluid .register{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 20px;
      margin-left: 8em;
    }

    .main-heading {
      font-size: 2.5em;
      margin-left: 3em;

    }
  
    .main-text {
      font-size: 1.2em;
      margin-left: 6.25em;

    }
  
    .img-start {
      width: auto;
      height: 50vh;
      margin-left: 6.2em;
      display: block;
    }
  }



